<div class="container">
    <h1 class="h1 display-6 text-left mt-4 text-light bg-dark p-1">Add Profile Form</h1>
    <form action="/profile/editprofile/{{profile.id}}/?_method=PUT" method="POST" enctype="multipart/form-data" 
    class="mt-4">
        <div class="row">
            <input type="hidden" name="_method" value="PUT">
            <div class="col-4 mt-2">
                <input type="file" class="form-control" name="photo" placeholder="upload a photo" value="{{profile.photo.0.path}}">
            </div>
            <div class="col-4 mt-2"> 
                <input type="text" class="form-control" name="name" placeholder="enter a name" value="{{profile.name}}" >
            </div>
            <div class="col-4 mt-2">
                <input type="text" class="form-control" name="phonenumber" placeholder="phone number" value="{{profile.phonenumber}}">
            </div>
            <div class="col-4 mt-2">
                <input type="text" class="form-control" name="company" placeholder="Enter company" value="{{profile.company}}">
            </div>
            <div class="col-4 mt-2">
                <input type="text" class="form-control" name="location" placeholder="enter location" value="{{profile.location}}">
            </div>
            <div class="col-4 mt-2">
                <input type="text" class="form-control" name="education" placeholder="education" value="{{profile.education}}">
            </div>
            <div class="col-12 mt-4">
                <button type="submit" class="btn btn-dark float-right mt-4">Submit</button>
            </div>
        </div>
    </form>

    {{#each errors}}
    <div class="col-md-4 offset-4">
        <div class="alert alert-danger mt-2">{{text}}</div>
    </div>

    {{else}}
    {{/each}}
</div>